body {
  font-family: 'Open Sans', sans-serif;
  background: #f5f5f5;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.p-field {
  margin-bottom: 1.5rem;
}

.p-input-icon-left {
  width: 100%;
}

.p-input-icon-left .p-inputtext {
  width: 100%;
}

.p-button {
  width: 100%;
}
